body {
  background-color: #f5f5f5;
}

.nav-bar {
  background-color: #098483;
}

.logo {
  color: white;
  font-family: cursive;
}

.job-search-btn {
  background-color: #098483;
  transition: background 0.3s ease;
  color: var(--text-white);
}

.job-search-btn:hover {
  background-color: #076a6a;
}

header {
  background-color: white;
}

main {
  margin-top: 155px;
}

.hover-lift {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-lift:hover {
  transform: translateY(-5px);
}

.description {
  max-height: 75px;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.description.expand-desc {
  max-height: 200px;
}

.not-found {
  width: 30%;
  margin: auto;
  display: block;
}

.not-found-text {
  text-align: center;
}


@media screen and (max-width: 578px) {
  main {
    margin-top: 120px;
    margin-bottom: 20px;
  }
  .filter {
    justify-content: space-between;
  }
}
